:root {
    --default-font-size: 1.6rem;

}

* {
    /* default font */
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;

    /* simple CSS reset */
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* centering the card in the viewport */
    height: 100vh;
    min-height: 66.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    /* mimics a quartet card game card size */
    width: 43rem;
    height: 66.5rem;
    padding: 1.3rem;

    /* background-color with animation parameters */
    background: radial-gradient(circle at 4% 2%, #4a8de5 2%, #175dd6 8%, #754fef 25%, #efab83 40%);
    background-size: 300% 300%;
    animation-name: color-fade;
    animation-duration: 30s;
    animation-iteration-count: infinite;

    /* makes the appearance look more like a card, up to you to change */
    border-radius: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* background animation */
@keyframes color-fade {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 25% 25%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3rem;
}

.header .description {
    font-weight: 700;
    font-size: var(--default-font-size);
}

.header .rating {
    font-size: var(--default-font-size);
}

.image-container {
    width: 50%;
    height: 34.6rem;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 0.2rem solid #754fef;
}

.image-container:hover {
    background-image: linear-gradient(#5663B0, #452e8f);
    box-shadow: 0.3em 0.5em 1em #452e8f;
}

.title-image {
    max-width: 100%;
    box-shadow: inset 0.1em 0.15em 0.5em #401f9c;
}

.main-description {
    width: 80%;
    font-size: var(--default-font-size);
    text-align: justify;
    margin-bottom: 2rem;
}

.stats-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.stats-left {
    max-width: 19%;
}

.stats-middle {
    max-width: 32%;
}

.stats-right {
    max-width: 11%;
}

.stat-field {
    margin-bottom: 0.9rem;
}

.stat-field input {
    margin-top: 0.2em;
    width: 100%;
}

input[type=range] {
    width: 100%;
    background: transparent;
}

input[type=range]::-moz-range-track {
    background-color: #b29ee9;
}

input[type=range]::-moz-range-thumb {
    height: 1em;
    width: 0.6em;
    background: #ffacac;
    border-radius: 0.2em;
    border: 0.02em solid #a10a0a;
    box-shadow: 0 0.1em 0.5em 0 #f35e44;
}

input[type=range]:disabled::-moz-range-thumb {
    height: 1em;
    width: 0.6em;
    background: #a7a7a7;
    border-radius: 0.2em;
    border: 0.02em solid #2e2e2e;
    box-shadow: 0 0.01em 0.1em 0 #161616;
}

input[type=range]::-moz-range-progress {
    background-color: #401f9c;
}

.stat-field p {
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid black;
    margin-bottom: 0.3rem;
}

.stat {
    font-size: var(--default-font-size);
}